

<div >
    <section class="bg-primary" id="about" style="padding-top: 200px; padding-bottom: 50px">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading" style="color:white">Photos de Classe</h2>
                    <hr class="light">
                    <p class="text-faded"></p>
                    <a href="#" ui-sref="auth.authPhotographe" class="btn btn-default btn-xl">Photographe</a>
                    <a href="#" ui-sref="auth.authAdmin" class="btn btn-default btn-xl">Bureau</a>
                    <a href="#" ui-sref="auth.authOrder" class="btn btn-default btn-xl">Etudiant</a>
                </div>
            </div>
        </div>
    </section>

</div>