<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Accueil</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>{{user}}</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <h2 ><a ui-sref="photographe.dashboard" class="btn btn-info"><i class="fa fa-chevron-left"></i></a>
            Upload des photos - Groupe {{group}} </h2>
        <hr>
        <div class="col-md-3">
            <div ng-show="uploader.isHTML5">
                <div ng-repeat="photo in photos" style="margin: 10px 0 10px 0">
                    <div nv-file-drop="" uploader="uploader" options="{ num: photo.num }" single>

                        <img class="img-responsive"  ng-src="/assets/img/none.gif"   actual-src={{photo.url}} />
                        <div uploader="uploader" style="text-align: center">
                            Photo {{photo.num}} |
                         <span style="display: inline-block;" class="btn btn-default btn-sm btn-file btn-primary" >
                             Parcourir... <input type="file" nv-file-select="" options="{ num: photo.num }" uploader="uploader" />
                         </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9" style="margin-bottom: 40px">
            <div>Nombre de photos : {{ uploader.queue.length }} | <i class="fa fa-warning text-danger "></i> Taille max pour les photos : <b>5 Mo</b>
                <div class="progress" style="">
                    <div class="progress-bar" role="progressbar"
                         ng-style="{ 'width': uploader.progress + '%' }"></div>
                </div>
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"
                        ng-disabled="!uploader.getNotUploadedItems().length">
                    Envoyer !
                </button>
                <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"
                        ng-disabled="!uploader.queue.length">
                    Tout retirer
                </button>
            </div>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th width="30%">N° Photo</th>
                    <th>Nom</th>
                    <th ng-show="uploader.isHTML5">Taille</th>
                    <th ng-show="uploader.isHTML5">Progression</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td>{{ item.num }}</td>
                    <td>
                        <strong>{{ item.file.name }}</strong>
                        <!-- Image preview -->
                        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                    </td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar"
                                 ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
                        <span ng-show="item.isError"><i class="fa fa-exclamation-triangle"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            Retirer
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>