<div class="container">

    <div class="row">
        <h2><a ui-sref="photographe.dashboard" class="btn btn-info"><i class="fa fa-chevron-left"></i></a>
            Upload des photos - Groupe {{group}} </h2>
        <hr>
        <div class="col-md-3">
            <div ng-show="uploader.isHTML5">
                <div ng-repeat="photoNum in photoNumbers">
                    <div nv-file-drop="" uploader="uploader" options="{ num: photoNum }">
                        <div nv-file-over="" uploader="uploader" over-class="another-file-over-class"
                             class="well my-drop-zone"> Photo {{photoNum}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9" style="margin-bottom: 40px">
                <div>Nombre de photos : {{ uploader.queue.length }} |
                    Progression :
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar"
                             ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"
                            ng-disabled="!uploader.getNotUploadedItems().length">
                        Envoyer !
                    </button>
                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"
                            ng-disabled="!uploader.queue.length">
                        Tout retirer
                    </button>
                </div>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th width="30%">N° Photo</th>
                    <th>Nom</th>
                    <th ng-show="uploader.isHTML5">Taille</th>
                    <th ng-show="uploader.isHTML5">Progression</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td>{{ item.file.formData.number }}</td>
                    <td>
                        <strong>{{ item.file.name }}</strong>
                        <!-- Image preview -->
                        <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                    </td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar"
                                 ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
                        <span ng-show="item.isError"><i class="fa fa-exclamation-triangle"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            Retirer
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>

    </div>

</div>