<div class="container">

    <h1>Liste des classes
        <button style="float: right;margin-left: 5px" class="btn btn-default" ng-click="openSettings()" type="button" >Paramètres</button>
        <button style="float: right;" class="btn btn-default" type="button"  ui-sref="admin.photographers">Photographes</button>

    </h1>

    <hr>

    <!--Top BUTTONS-->
    <div class="row">
        <div class="col-md-3">
            <form ng-submit="addGrp()" class="form-group">
                <div class="input-group">
                    <input ng-model="newGrpNumber" type="number" min="1" max="210" id="newgrop" class="form-control">
                    <span class="input-group-btn">
                         <button class="btn btn-primary" type="submit">Ajouter</button>
                    </span>
                </div>
            </form>
        </div>


        <div class="col-md-9">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-btn">
                        <label class="btn btn-primary" ng-model="orderView" btn-radio="false"
                               uncheckable>Détails</label>
                        <label class="btn btn-primary" ng-model="orderView" btn-radio="true"
                               uncheckable>Commandes</label>
                    </span>
                    <span class="input-group-btn" style="text-align: right">
                        <button class="btn btn-default" type="button">Envoyer un Email</button>
                        <button class="btn btn-default" type="button">Télécharger les photos</button>
                        <div class="btn-group" style="margin-left: 4px; margin-right: 4px">
                            <a href="" class="btn btn-default disabled">Etat</a>
                            <a href="" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="st in states"><a href="">{{st}}</a></li>
                            </ul>
                        </div>
                         <button class="btn btn-danger" type="button" ng-click="deleteGroups()">Supprimer</button>
                </span>
                </div>
            </div>

        </div>


    </div>
    <!--end BUTTONS-->


    <!--Main TABLE DETAILS-->
    <table ng-hide="orderView" st-table="displayedCollection" st-safe-src="rowCollection"
           class="table table-striped table-hover table-condensed">
        <thead>

        <tr>
            <th><input type="checkbox" value="all"></th>
            <th st-sort="num" st-sort-default="true"># groupe</th>
            <th st-sort="lastName">Email Responsable</th>
            <th st-sort="birthDate">Téléphone Responsable</th>
            <th st-sort="birthDate">Photographe</th>
            <th st-sort="balance">Etat</th>
            <th>Commentaire</th>
        </tr>
        <tr>
            <td><i class="fa fa-search fa-2x"></i></td>
            <td><input st-search="num" st-delay="0" placeholder="" class="input-sm form-control" type="search"/></td>
            <td><input st-search="email" st-delay="0" placeholder="" class="input-sm form-control" type="search"/></td>
            <td><input st-search="phone" st-delay="0" placeholder="" class="input-sm form-control" type="search"/></td>
            <td><input st-search="photographer" st-delay="0" placeholder="" class="input-sm form-control"
                       type="search"/></td>
            <td><input st-search="state" st-delay="0" placeholder="" class="input-sm form-control" type="search"/></td>
            <td><input st-search="" st-delay="0" placeholder="" class="input-sm form-control" type="search"/></td>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="row in displayedCollection track by row.num"  >
            <td cs-select="row" ></td>
            <td>{{row.num}}</td>
            <td>{{row.email}}</td>
            <td>{{row.phone}}</td>
            <td style="text-transform: capitalize">{{row.photographer.email.split('.')[0]}}</td>
            <td>
                <select id="title" name="title" style="color: black !important;" >
                    <option value="" selected>{{row.status}}</option>
                    <option ng-repeat="st in states" value=st>{{st}}</option>
                </select>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>

    <!--Main TABLE ORDERS-->
    <table ng-show="orderView" st-table="displayedOrderCollection" st-safe-src="rowOrderCollection"
           class="table table-striped table-hover table-condensed">
        <thead>

        <tr>
            <th><input type="checkbox" value="all"></th>
            <th st-sort="num" st-sort-default="true"># groupe</th>
            <th st-sort="photo_1" class="hidden-phone">Photo 1</th>
            <th st-sort="photo_2">Photo 2</th>
            <th st-sort="photo_3">Photo 3</th>
            <th st-sort="photo_4">Photo 4</th>
            <th st-sort="photo_5">Photo Promo 1</th>
            <th st-sort="photo_6">Photo Promo 2</th>
            <th st-sort="photo_6">Total Photos</th>
            <th st-sort="photo_6">Total</th>
        </tr>
        <tr>
            <td><i class="fa fa-search fa-2x"></i></td>
            <td><input st-search="num" st-delay="0" placeholder="" class="input-sm form-control" type="search"/></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="row in displayedOrderCollection track by row.num">
            <td cs-select="row"  ></td>
            <td>{{row.num}}</td>
            <td>{{row.photo_1}}</td>
            <td>{{row.photo_2}}</td>
            <td>{{row.photo_3}}</td>
            <td>{{row.photo_4}}</td>
            <td>{{row.photo_5}}</td>
            <td>{{row.photo_6}}</td>
            <td>{{row.photo_1 +
                row.photo_2 +
                row.photo_3 +
                row.photo_4 +
                row.photo_5 +
                row.photo_6 }}
            </td>
            <td>{{(row.photo_1 +
                row.photo_2 +
                row.photo_3 +
                row.photo_4 +
                row.photo_5 +
                row.photo_6) * 3 | currency:''}} €
            </td>
        </tr>
        <tr class="active">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>TOTAL</td>
            <td>{{computeTotal()}}</td>
            <td>{{computeTotal() * 3 | currency:''}} €</td>
        </tr>
        </tbody>
    </table>

</div>