<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Admin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li> <a ui-sref="admin.detailsClasses">Détails</a></li>
                <li class="active" ><a ui-sref="admin.orders">Commandes</a></li>
                <li><a ui-sref="admin.photographers">Photographes <span class="sr-only">Photographes</span></a></li>
            </ul>
            <!-- Single button -->
            <ul class="nav navbar-nav navbar-right">
                <li><a  ui-sref="admin.photographers">Déconnexion<span class="sr-only">Déconnexion</span></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<!--Main TABLE DETAILS-->
<div style="padding: 50px 0 0;" >
    <div ng-style="{height: getHeight() + 'px'}"  ui-grid="gridOptions" class="myGrid"
        ui-grid-auto-resize  ui-grid-selection ui-grid-grouping></div>
</div>
