<div class = "container">
    <div class="wrapper">
        <form ng-submit="changePassword()" name="changePassword_form" class="form-signin">
            <h3 class="form-signin-heading">Changement de mot de passe</h3>
            <input  autofocus="autofocus" ng-model="password1" type="password" class="form-control" name="Password" placeholder="Mot de passe" />
            <input ng-model="password2" type="password" class="form-control" name="Password" placeholder="Confirmer le nouveau mot de passe" />
            <button class="btn btn-lg btn-primary btn-block"  type="submit" >Changer de mot de passe !</button>
        </form>
    </div>
</div>
