<div class = "container">
    <div class="wrapper">
        <form ng-submit="forgetPassword()" name="changePassword_form" class="form-signin">
            <h3 class="form-signin-heading">Mot de passe oublié ?</h3>
            <input  style="margin-bottom:10px" autofocus="autofocus" ng-model="email" type="email" class="form-control" name="email" placeholder="email" />
            <button class="btn btn-lg btn-primary btn-block"  type="submit" >Envoyer !</button>
        </form>
    </div>
</div>
