<div class="container">
    <div class="wrapper">
        <form name="Login_Form" class="form-signin" ng-submit="beginOrder()">
            <h3 class="form-signin-heading">Commande <br> Photos de classe</h3>
            <hr>
            <p style="line-height: normal; text-align: center">Renseigne ton email, ainsi que ton groupe. Tu recevras alors un email avec un lien pour voir les photos de ta classe !</p>

            <hr>
            <div class="input-group formCustomer">
                <input autofocus="autofocus" type="text" required ng-model="email" placeholder="prenom.nom" class="form-control" pattern="^[a-z\-]+\.[a-z\-]+">
                <span style="color:white;background-color: #2780E3" class="input-group-addon">@insa-lyon.fr</span>
            </div>

            <div class="input-group formCustomer"  uib-popover="Seuls les groupes qui peuvent commander sont affichés" popover-trigger="mouseenter" popover-placement="bottom" popover-popup-delay="200">
                <span style="color:white;background-color: #2780E3" class="input-group-addon" >Groupe</span>
                <select  required class="form-control" id="select" ng-model="groupNumber" ng-options="num as num for num in groups">
                </select>
            </div>
            <button  uib-popover="Attention, si tu t'es trompé(e) de groupe, tu ne pourras plus changer !" popover-trigger="mouseenter" popover-placement="bottom" popover-popup-delay="200" class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="Login_Form.$invalid">C'est parti ! </button>
        </form>
    </div>
</div>