<h4>Voici le mail à envoyer au groupe {{dialog.num}}</h4>
<p>
Bonjour,<br>
<br>

Comme tous les ans, l’association de photographie Graines d’Images organise les photos de classe du premier cycle.<br>
Je suis moi-même photographe et je suis en charge de prendre la photo de votre classe.<br>
<br>

Afin de faciliter le dialogue, je vais prendre contact avec le responsable de votre classe (votre délégué) avec qui j’aurai un dialogue privilégié afin de choisir une date de rendez-vous et d’organiser la commande de vos photos.<br>
<br>

Nous ferons 4 photos : deux photos classiques et deux photos pour lesquelles vous serez libre d’avoir les expressions que vous désirerez.<br>
<br>

Merci de me transmettre au plus vite le nom, l’adresse mail et le numéro de téléphone de votre responsable de votre groupe.<br>

<br>
Si vous désirez prendre une photo de lanière n'hésitez pas à me l'indiquer et à me proposer une date en commun avec les autres groupes.<br>
<br>

Cordialement,<br>
XXXXXX, pour Graines d'Images
<br><br>
</p>
<div class="ngdialog-buttons"><button type="button" class="ngdialog-button ngdialog-button-default" ng-click="closeThisDialog()">Annuler</button>
                <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="closeThisDialog(1)">Ok, c'est fait ! :)</button></div>