<div class="container">
    <h3>Ta commande a été enregistrée&nbsp;!</h3>
    <p>N'oublie pas de donner <b> {{computeTotal() | currency:''}} € </b> au responsable de ta classe avant le DD.</p>
    <p>Un mail avec le récapitulatif de ta commande t'a été envoyé.</p>
    <p>Si tu as des questions, n'hésite pas à envoyer un email à grainesdimages@gmail.com, sinon tu peux quitter la page&nbsp;!</p>
    <hr>
    <p>Tu t'es trompé(e) ?</p>
    <btn class="btn btn-danger">Modifer ma commande</btn>
</div>