<div class="container">
    <h3>Sélectionne les photos que tu souhaites commander</h3>
    <h5>Email: {{email}} <br>
        Groupe : {{group}}</h5>
    <hr>
    <div class="row">
        <div class="col-md-3" ng-repeat="(photoNum, photoUrl) in photos">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Photo {{photoNum}}</h3>
                </div>
                <div class="panel-body">
                    <a href={{photoUrl}} rel="group" fancyboxable>
                        <img alt="Photo {{photoNum}}" class="img-responsive"
                             ng-src="assets/img/loader.gif" actual-src={{photoUrl}}>
                    </a>
                    <select ng-model="orderInput[photoNum]" class="form-control"
                            ng-options="n for n in [] | range:0:10">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <p>Nombre de photos choisies : {{totalPhotos()}} <br>
                Pour un total de : {{totalEuros() | currency:''}} €</p>
            <btn href="" class="btn btn-success" ng-disabled="totalPhotos() <= 0" ng-click="submitOrder()">Valider</btn>

        </div>

    </div>




</div>