
<div class="container">
    <h2 class="text-center">Sélectionne les photos que tu souhaites commander</h2>
    <hr>
    <div class="row">
        <div class="col-md-3" ng-repeat="ph in photos">
            <a href="https://backend-graines-hverlin.c9.io/v1/photo?grpnumber=19&number={{ph}}">
                <img class="img-responsive" style="display:block;margin:auto" ng-src="https://backend-graines-hverlin.c9.io/v1/photo?grpnumber=19&number={{ph}}"></a>
            <input type="number" style="display:block;margin:2px auto 20px auto;" >
        </div>
    </div>
    <div class="row">
        <p>Nombre de photos choisies :</p>
        <p>Pour un total de : </p>
    </div>
    <div class="row">
        <btn href="" class="btn btn-success" ng-click="submitOrder()">Valider</btn>
    </div>

</div>